/* body */
body{
    background-color: black;
    color: white;
}
/* header */

header{
    width: 100%;
    height: 80px;
    display: inline-flex;
    margin-top: 30px;
}

.identitypic{
    width: 4%;
    background-color: blueviolet;
    border: 1px solid blueviolet;
    border-radius: 30px;
    margin-left: 4vw;
    height: 4vw;
    position: relative;
}
.photoid{
    position: absolute;
    bottom: 7%;
}
.identityname{
    display: inline;
    margin-left: 12px;
}
.identityname h1{
    font-size: 1em;
}
.identityname i{
    font-size: 10px;
    font-style: italic;
    border: 1px solid white;
    color: black;
    background-color: white;
    margin-left: 10px;
}
.info{
    margin-left: 66%;
    margin-top: 30px;
}
.logodragon{
    background-color: white;
    height: 18px;
    border-radius: 23px;
    color: black;
    margin-top: 38px;
    margin-left: -164px;
}
.lvl{
    margin-left: 10px;
    margin-top: 21px;
}
.fa-battery-full{
    margin-left: 10px;
}

.heures{
    margin-top: 29px;
    margin-left: 10px;
}

/* section */
.inline-box{
    display: inline-flex;
    width: 100%;
    height: 260px;
}
.content{
    width: 20%;
    margin-left: 4vw;
    margin-top: 5vw;

}
.youtube-content{
    display: flex;
    flex-direction: column;
    height: 280px;
    width: 280px;
}
.youtube-img{
    height: 100%;
    width: 100%;
}
.youtube-content:hover {
	cursor: pointer;
	transform:scale(1.05) translateY(-2px);
    box-shadow: 0 0 1em white;
}
.youtube-txt, .txt{
    background-color: rgb(61, 58, 58);
    color: white;
    height: 30px;
}
.youtube-txt p, .txt p {
    margin-left: 10px;
    margin-top: 6px;
    text-decoration: none;
}

.content-app{
    margin-left: 91px;
    margin-top: 144px;
    width: 7%;
    height: 135px;
}
.content{
    display: flex;
    flex-direction: column;
    width: 160px;
}
.gta-img, .img{
    width: 100%;
    height:106px;
}
.txt {
    background-color: rgb(61, 58, 58);
    color: white;
    height: 30px;
}
.content:hover{
    cursor: pointer;
	transform:scale(1.05) translateY(-2px);
    box-shadow: 0 0 10px white;
}

/* Section 2 */
.inline-block{
    display: inline-flex;
    width: 100%;
}
.discovery-content{
    width: 282px;
    height: 152px;
    margin: 63px 0px 0px 49px;
}
.github-img{
    width: 100%;
    height: 100%;
}